table:not(.default) > thead > tr {
    @apply bg-primary-700;
}

table:not(.default) > thead > tr,
table:not(.default) > tbody > tr {
    @apply rounded-ee-xl;
}

table:not(.default) > thead > tr th {
    @apply p-4 h-[46px] text-white text-base font-bold;
}

table:not(.default) > tbody > tr td {
    @apply p-4 h-[46px] text-black text-base odd:bg-slate-light even:bg-white;
}
